In [13]:
import pandas as pd
import numpy as np

In [14]:
pwd

'/Users/bokim/Panda-hw'

In [15]:
file_name = '/Users/bokim/UTAUS201810DATA2/Pandas/Homework/Instructions/HeroesOfPymoli/Resources/purchase_data.csv'

In [16]:
purchase_data_df = pd.read_csv(file_name)
purchase_data_pd = pd.read_csv(file_name)

In [17]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
Total = len(purchase_data_df['SN']. unique())
print("Total number of player : " + str(Total))

Total number of player : 576

In [19]:
# To obtain number of unique items
Number_of_unique_item = len(purchase_data_df["Item ID"].unique())

In [20]:
#To obtain number of purchase
Number_of_Purchase = len(purchase_data_df["Purchase ID"])

In [21]:
#To obtain total revenue
total_revenue = purchase_data_df["Price"].sum()

In [22]:
average_price = purchase_data_df["Price"].mean()

In [23]:
# summary table of above
summary_table = pd.DataFrame({"Number of Unique Item ": [Number_of_unique_item], "Number of Purchase ": [Number_of_Purchase], "Average Price" : [average_price], "Total Revenue": [total_revenue] })
summary_table

   Number of Unique Item   Number of Purchase   Average Price  Total Revenue
0                     183                  780       3.050987        2379.77

In [36]:
#Gender demographic
# Percentage and Count of Male/Female Players
purchase_data_df[["Gender"]].head()
#count = purchase_data_pd["Gender"].value_counts()
#unique = purchase_data_df["Gender"].unique()
count = purchase_data_pd["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [32]:
count[0]
percentage_male = count[0]/sum(count)*100
percentage_female = count[1]/sum(count)*100
print(percentage_male)
print(percentage_female)

83.58974358974359
14.487179487179489

In [167]:
#Analysis by Gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

purchase_data_df['Gender'].value_counts()
average_purchase_price = purchase_data_df["Price"].mean()
print(average_purchase_price)

3.050987179487176

In [175]:
purchase_price_sum = purchase_data_df["Price"].sum()
print(purchase_price_sum)

2379.77

In [179]:
avg_purchase_male = purchase_price_sum/count[0]
avg_purchase_female = purchase_price_sum/count[1]
print(avg_purchase_male)
print(avg_purchase_female)

3.6499539877300613
21.05991150442478

In [46]:
purchase_count = purchase_data_df.groupby(['Purchase ID','Gender']).size()
print (purchase_count)
total_purchae_count = len(purchase_data_df.groupby(['Purchase ID','Gender']))
#total_purchase_value = purchase_data_pd["Price"].value_counts()
#print(total_purchase_value)

Purchase ID  Gender
0            Male                     1
1            Male                     1
2            Male                     1
3            Male                     1
4            Male                     1
5            Male                     1
6            Male                     1
7            Male                     1
8            Male                     1
9            Other / Non-Disclosed    1
10           Male                     1
11           Male                     1
12           Male                     1
13           Male                     1
14           Male                     1
15           Female                   1
16           Male                     1
17           Male                     1
18           Female                   1
19           Male                     1
20           Male                     1
21           Male                     1
22           Other / Non-Disclosed    1
23           Male                     1
24           Male                     1
25           Male                     1
26           Male                     1
27           Male                     1
28           Male                     1
29           Male                     1
                                     ..
750          Male                     1
751          Male                     1
752          Male                     1
753          Male                     1
754          Female                   1
755          Male                     1
756          Male                     1
757          Male                     1
758          Male                     1
759          Male                     1
760          Male                     1
761          Male                     1
762          Male                     1
763          Male                     1
764          Male                     1
765          Male                     1
766          Male                     1
767          Female                   1
768          Male                     1
769          Male                     1
770          Male                     1
771          Male                     1
772          Male                     1
773          Male                     1
774          Male                     1
775          Female                   1
776          Male                     1
777          Male                     1
778          Male                     1
779          Male                     1
Length: 780, dtype: int64

In [185]:
summary_dataframe = pd.DataFrame({"Purchase Count ": [count], "Total Purchase Value" : [purchase_price_sum]})
summary_dataframe

                                     Purchase Count   Total Purchase Value
0  Male                     652
Female           ...               2379.77

In [47]:
#Age Demographics
age_table = purchase_data_df[["Age", "Purchase ID", "Price"
                            ]]
age_table.head()

   Age  Purchase ID  Price
0   20            0   3.53
1   40            1   1.56
2   24            2   4.88
3   24            3   3.27
4   23            4   1.44

In [48]:
age_group = purchase_data_df.loc[purchase_data_df["Age"] > 10, [
    "Age", "Purchase ID", "Price"]]
age_group.head()

   Age  Purchase ID  Price
0   20            0   3.53
1   40            1   1.56
2   24            2   4.88
3   24            3   3.27
4   23            4   1.44

In [ ]:
# Purchasing Analysis (age)

In [ ]:
# Top Spenders

In [ ]:
# Most Popular items

In [ ]:
# Most profitable items